<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>myfriends</display-name>
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/template/admin/js/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AdminIndexController</servlet-name>
		<servlet-class>controller.AdminIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexController</servlet-name>
		<url-pattern>/admin/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexCatController</servlet-name>
		<servlet-class>controller.AdminIndexCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexCatController</servlet-name>
		<url-pattern>/admin/cats</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminAddCatController</servlet-name>
		<servlet-class>controller.AdminAddCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddCatController</servlet-name>
		<url-pattern>/admin/cats/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEditCatController</servlet-name>
		<servlet-class>controller.AdminEditCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditCatController</servlet-name>
		<url-pattern>/admin/cats/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDelCatController</servlet-name>
		<servlet-class>controller.AdminDelCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelCatController</servlet-name>
		<url-pattern>/admin/cats/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexUserController</servlet-name>
		<servlet-class>controller.AdminIndexUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexUserController</servlet-name>
		<url-pattern>/admin/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminAddUserController</servlet-name>
		<servlet-class>controller.AdminAddUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddUserController</servlet-name>
		<url-pattern>/admin/users/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEditUserController</servlet-name>
		<servlet-class>controller.AdminEditUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditUserController</servlet-name>
		<url-pattern>/admin/users/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDelUserController</servlet-name>
		<servlet-class>controller.AdminDelUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelUserController</servlet-name>
		<url-pattern>/admin/users/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexFriendsController</servlet-name>
		<servlet-class>controller.AdminIndexFriendsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexFriendsController</servlet-name>
		<url-pattern>/admin/friends</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminAddFriendsController</servlet-name>
		<servlet-class>controller.AdminAddFriendsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddFriendsController</servlet-name>
		<url-pattern>/admin/friends/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEditFriendsController</servlet-name>
		<servlet-class>controller.AdminEditFriendsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditFriendsController</servlet-name>
		<url-pattern>/admin/friends/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDelFriendsController</servlet-name>
		<servlet-class>controller.AdminDelFriendsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelFriendsController</servlet-name>
		<url-pattern>/admin/friends/del</url-pattern>
	</servlet-mapping>
</web-app>